<!DOCTYPE html>

{%extends 'Typing/base.html'%}
{%block content%}
<head >Settings</head>
{% comment %} need to move this icon to the top right of the webpage, add a icon aswell from fontawsome {% endcomment %}



    <div>
        <label for "difficulty-select">Difficulty</label>
        <select id="difficulty-select" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
    </div>
    



<script>
    const difficultySelect = document.getElementById('difficulty-select');
    {% comment %} const currentValue = difficultySelect.value; {% endcomment %}
    
    difficultySelect.addEventListener('change', (event) => {
        const currentValue = event.currenttarget.value;

        console.log(currentValue);
    });

</script>

{%endblock%}